<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Key Agent</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <el-container id="app">
    <el-header><h1 class="center">{{info.header}}</h1></el-header>
    <el-main>

        <el-row>
            <el-col :span="8">
                <h3>Sign up</h3>
                <el-input
                placeholder="User Name"
                prefix-icon="el-icon-caret-right"
                v-model="user.name"
                clearable>
                </el-input>
                <el-input
                placeholder="Password"
                prefix-icon="el-icon-caret-right"
                v-model="user.pass"
                clearable>
                </el-input>
                <el-input
                placeholder="tip message"
                prefix-icon="el-icon-caret-right"
                v-model="user.tip"
                clearable>
                </el-input>
                <el-input
                placeholder="User Name"
                prefix-icon="el-icon-caret-right"
                v-model="user.name"
                clearable>
                </el-input>
                <el-input
                placeholder="User Name"
                prefix-icon="el-icon-caret-right"
                v-model="user.name"
                clearable>
                </el-input>
            </el-col>
            <el-col :span="8">
                <h3>Sign in</h3>
                <div></div>
            </el-col>
            <el-col :span="8">
                <h3>Sign up</h3>
                <div></div>
            </el-col>
        </el-row>

    </el-main>
    <el-footer><p class="center"><code>{{info.footer}}</code></p></el-footer>
    </el-container>
</body>
    
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- Element UI -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- Element UI -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- Customized -->
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
    <script src="main.js"></script>
</html>